@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
body {
    background-color: #136377;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Jost', sans-serif;
}